MARIADB_ROOT_PASSWORD: {{ pwgen_mariadb.stdout }}
OS_ADMIN_PASSWORD: {{ pwgen_os.stdout }}
OS_SERVICE_PASSWORD: {{ pwgen_os.stdout }}
OS_SHARED_SECRET: {{pwgen_metadata.stdout}}
OS_DEMO_PASSWORD: {{pwgen_demo.stdout}}
